<h3>{{titulo}}</h3>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Reg. Ativo</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let pessoa of pessoas; let i = index;'>
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nome}}</td>
            <td *ngIf='pessoa.ativo'>Sim</td>
            <td *ngIf='!pessoa.ativo'>Não</td>
            <td>
                <a class="btn btn-success" (click)="editar(pessoa.codigo);">
                    <span class="glyphicon glyphicon-edit"></span>
                    Editar
                </a>
                <a class="btn btn-danger" (click)="excluir(pessoa.codigo, i);">
                    <span class="glyphicon glyphicon-trash"></span>
                    Excluir
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: right;">Total de registros: {{ pessoas.length }}</td>
        </tr>
    </tbody>
</table>