<div class="page-header">
    <h3>{{titulo}}</h3>
</div>
<form class="form-horizontal" (ngSubmit)="salvar(message)">
    <div class="form-group">
        <label class="control-label col-sm-2">
            Codigo
        </label>
        <div class="col-sm-2">
            <input type="input" class="form-control" name="codigo" size="10" [(ngModel)]="pessoa.codigo" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">
            Nome
        </label>
        <div class="col-sm-6">
            <input class="form-control" type="input" name="nome" size="30" [(ngModel)]="pessoa.nome">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">
            Registro Ativo:
        </label>
        <label class="radio-inline">
            <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="true">Sim
        </label>
        <label class="radio-inline">
            <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="false">Não
        </label>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a class="btn btn-default" (click)="voltar()">Voltar</a>
        </div>
    </div>
</form>

<ng-template #message>
    <div class="modal-header">
        <h3 class="modal-title pull-left">Mensagem</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click) = "modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="res.codigo == 1" class="alert alert-success">
            {{res.mensagem}}
        </div>
        <div *ngIf="res.codigo != 1" class="alert alert-danger">
            {{res.mensagem}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">
            <span class="glyphicon glyphicon-remove"></span>SAIR
        </button>
    </div>
</ng-template>